.swiper {
  width: 100%;
  height: 450px;
  background: #000;
  z-index: 10;
}

.mySwiper {
  z-index: 10;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.7) -20.46%, rgba(245, 245, 245, 0.9) 20.51%);
  height: 100%;
  width: 130%;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}


.swiper-button-next, .swiper-button-prev {
  color: #fff;  
  font-size: 30px;  
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;  
  border-radius: 50%;  
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);  
}

.swiper-button-next {
  right: 10px; 
}

.swiper-button-prev {
  left: 10px;  
}