
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

.hero-background {
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.rotateAnimation {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.super-sale {
  background: linear-gradient(
    180deg,
    rgba(70, 163, 88, 0.1) 0%,
    rgba(70, 163, 88, 0.03) 100%
  );
}
